@import "tailwindcss";
@font-face {
  font-family: "Hupaisa";
  src: url("/fonts/Hupaisa-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Hupaisa";
  src: url("/fonts/Hupaisa-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Hupaisa";
  src: url("/fonts/Hupaisa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hupaisa";
  src: url("/fonts/Hupaisa-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Hupaisa";
  src: url("/fonts/Hupaisa-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hupaisa";
  src: url("/fonts/Hupaisa-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-hupaisa: "Hupaisa", sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --color-faint-red: #e60c0c99;
  --color-red: #fd1100;
  --color-dark-grey: #111111;
  --color-white-20: #fcfcfc33;
  --color-orange: #ff2b06;
}

@layer base {
  h2 {
    @apply font-bricolage text-5xl font-bold;
  }
  p {
    @apply font-hupaisa font-light;
  }
}
NavLink {
  @apply cursor-pointer;
}

@layer components {
  .btn {
    @apply font-hupaisa text-white text-[20px] font-light opacity-100 hover:opacity-80 py-[10px] px-[20px] border-b-2 border-r-2 rounded-md transition-all;
  }

  .btn-orange {
    @apply bg-red/80 border-white;
  }

  .btn-black {
    @apply bg-dark-grey border-red;
  }
}

@layer utilities {
  .fixed-header {
    @apply fixed top-0 left-0 w-full;
  }

  .red-text {
    @apply text-red;
  }

  .heading-with-underline {
    @apply text-5xl font-bold font-bricolage relative text-left;
  }

  .heading-with-underline::after {
    content: "";
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    width: 19rem;
    height: 0.25rem;
    background-color: red;
    border-radius: theme("borderRadius.full");
  }

  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  @keyframes fade-in {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .animate-fade-in {
    animation: fade-in 0.4s ease-out forwards;
  }
}
